@font-face {
    font-family: "iconfont"; /* Project id  */
    src: url('iconfont.ttf?t=1685960377107') format('truetype');
  }
  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-weixin:before {
    content: "\e61f";
  }
  
  .icon-youxiang:before {
    content: "\e908";
  }
  
  .icon-github:before {
    content: "\e66f";
  }
  
  .icon-qq:before {
    content: "\e631";
  }
  
  